################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoIssue/VideoIssue.Android/obj
/VideoIssue/VideoIssue.Android/VideoIssue.Android.csproj.user
/VideoIssue/VideoIssue.iOS/obj
/VideoIssue/VideoIssue.iOS/bin/iPhoneSimulator/Debug
/VideoIssue/VideoIssue/obj
/VideoIssue/VideoIssue/bin/Debug/netstandard2.0
/VideoIssue/VideoIssue.Android/bin/Debug
/VideoIssue/VideoIssue.Android/bin/Debug
/VideoIssue/VideoIssue.Android/bin/Debug
/.vs/VideoIssue
